{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Student Management System</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="sidebar">

        <h2>Student MS</h2>

        <a href="{% url 'dashboard' %}">
            Dashboard
        </a>

        <a href="{% url 'student_list' %}">
            Students
        </a>

        <a href="{% url 'add_student' %}">
            Add Student
        </a>

        <a href="/admin/">
            Admin
        </a>

        <form method="POST"
              action="{% url 'logout' %}"
              class="logout-form">

            {% csrf_token %}

            <button type="submit" class="logout-btn">
                Logout
            </button>

        </form>

    </div>


    <div class="main-content">

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>